<app-gird-wrapper [title]="'Restaurants groups'">
  <section controls class="flex flex-start gap-2">
    <button mat-stroked-button (click)="saveGroup()" class="flex-form-button">Save Group</button>
  </section>
  <section grids class="w-100">
    <mat-tab-group (selectedIndexChange)="resetSelection()">
      <mat-tab>
        <ng-template mat-tab-label>
          <div>
            All
          </div>
        </ng-template>
        <div class="tab-grid-wrapper">
          <app-restaurant-group (selectionApplied)="onSelectionApplied($event)" [groupName]="'All'">
          </app-restaurant-group>
        </div>
      </mat-tab>
      <!-- Groups -->
      <mat-tab *ngFor="let group of (groups$ | async) ?? []">
        <ng-template mat-tab-label>
          <app-tab-menu
            [itemId]="group._id"
            [itemName]="group.name"
            (edit)="editGroup(group._id)"
            (delete)="deleteGroup(group._id)"
          ></app-tab-menu>
        </ng-template>
        <div class="tab-grid-wrapper">
          <app-restaurant-group
            [groupId]="group._id"
            [groupName]="group.name"
            (selectionApplied)="onSelectionApplied($event)"
          >
          </app-restaurant-group>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</app-gird-wrapper>
