<ag-grid-angular style="width: 100%; height: 100%;"
    class="ag-theme-balham grid-100"
    [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef"
    [columnDefs]="colDefs"
    [animateRows]="animateRows"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [pivotPanelShow]="pivotPanelShow"
    [rowSelection]="rowSelection"
    [enableCellChangeFlash]="enableCellChangeFlash"
    [frameworkComponents]="frameworkComponents"
    [suppressContextMenu]="suppressContextMenu"



    (rowSelected)="onSelectRow($event)"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    (gridColumnsChanged)="onGridColumnsChanged($event)"
  >
  </ag-grid-angular>
