.spinner-wrapper {
  padding: 12px 36px 12px 25px;
  border: 1px rgba(128, 128, 128, 0.521) solid;
  border-radius: 4px;
  background-color: white;
}

.grid-spinner {
  margin-left: 15px;
  display: inline;
}
